.acm-cta.style-2 .cta-showcase-item .cta-showcase-header {
  font-size: 45px;
}

.node.acm-cta.style-2 .main-img{
  position: static;
}

.node.acm-cta.style-2 .main-img{
  padding-right: 30px;
}

.acm-cta.style-2 .cta-showcase-item{
  padding: 30px;
}

img {
  width: 100%;
  height: auto;
}