.uber-stats .stats-list li{
  margin: 0;
}
.uber-stats .stats-header .stats-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 1.625;
  color: #333333;
}
.uber-stats .stats-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.ie8 .uber-stats .container {
  width: auto;
}
.uber-stats.style-1 .stats-list li {
  display: inline-block;
  width: 48%;
  border: none;
  padding: 0 0 2px 0;
  font-size: 16px;
  color: #999999;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .uber-stats.style-1 .stats-list li {
    width: auto;
    display: block;
  }
}
.uber-stats.style-1 .stats-list li span {
  display: inline-block;
  margin-right: 5px;
}
.uber-stats.style-1 .stats-list li .stats-item-counter {
  background: #039be5;
  color: #ffffff;
  font-weight: 400;
  width: 44px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .uber-stats.style-2 .stats-list .stats-asset {
    margin-bottom: 52px;
  }
  .uber-stats.style-2 .stats-list .stats-asset:last-child {
    margin-bottom: 0;
  }
}
.uber-stats.style-2 .stats-list span {
  display: block;
  text-align: center;
}
.uber-stats.style-2 .stats-list span.stats-item-icon {
  border: 1px solid #e6e6e6;
  border-radius: 80px;
  color: #039be5;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  margin: 0 auto;
}
.uber-stats.style-2 .stats-list span.stats-item-counter {
  font-size: 56px;
  color: #000000;
}
.uber-stats.style-3 .stats-list .stats-asset {
  margin-bottom: 26px;
}
.uber-stats.style-3 .stats-list .stats-asset:before,
.uber-stats.style-3 .stats-list .stats-asset:after {
  content: " ";
  display: table;
}
.uber-stats.style-3 .stats-list .stats-asset:after {
  clear: both;
}
.uber-stats.style-3 .stats-list span {
  display: block;
  text-align: center;
}
.uber-stats.style-3 .stats-list span.stats-item-counter {
  color: #000000;
  padding: 0;
  background-color: #e6e6e6;
}
.uber-stats.style-3 .stats-list span.stats-item-counter .progressbar {
  background-color: #039be5;
  color: #ffffff;
  font-size: 14px;
  width: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.uber-stats.style-3 .stats-list span.stats-item-subject {
  text-align: right;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .uber-stats.style-3 .stats-list span.stats-item-subject {
    padding-left: 26px;
  }
}
@media screen and (max-width: 767px) {
  .uber-stats.style-3 .stats-list span.stats-item-subject{
    text-align: left;
    width: 100%;
    display: block;
    clear: both;
  }
}