/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2014, 4:20:40 PM
    Author     : WIN
*/

.item-single-size{
  width: 20%;
}
.item-double-size{
  width: 40%;
}
.item-triple-size{
  width: 60%;
}
.item-quadruple-size{
  width: 80%;
}
.node.acm-gallery{
  padding-top: 104px;
  padding-bottom: 104px;
}

.no-padding-bottom{
  padding-bottom: 0;
}

.acm-gallery .section-title {
  font-size: 45px;
  color: #202020;
  font-weight: 700;
  margin: 0 0 78px;
  text-align: center;
}

.acm-gallery .section-intro {
  color: #999999;
  margin-bottom: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.625;
}

.acm-gallery  .container-sm {
  max-width: 760px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.acm-gallery .isotope{
  clear: both;
  overflow: hidden;
}

.acm-gallery .isotope .item{
  /*float: left;*/
}
.acm-gallery .isotope-layout {
  overflow: hidden;
}
.acm-gallery .isotope-layout .custom.bg-image {
  padding: 0;
  position: static;
}
.acm-gallery .isotope-layout .isotope:after {
  content: '';
  display: block;
  clear: both;
}
.acm-gallery .isotope-layout .isotope .mask {
  background: #000000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.acm-gallery .isotope-layout .grid-mb-1 {
  width: 100%;
}
.acm-gallery .isotope-layout .grid-mb-2 {
  width: 50%;
}
.acm-gallery .isotope-layout .grid-mb-3 {
  width: 33.3%;
}
.acm-gallery .isotope-layout .grid-mb-4 {
  width: 25%;
}
.acm-gallery .isotope-layout .grid-mb-5 {
  width: 20%;
}
.acm-gallery .isotope-layout .grid-mb-6 {
  width: 16.6%;
}
.acm-gallery .isotope-layout .grid-mb-7 {
  width: 14.28%;
}
.acm-gallery .isotope-layout .grid-mb-8 {
  width: 12.5%;
}
.acm-gallery .isotope-layout .grid-mb-9 {
  width: 11.1%;
}
.acm-gallery .isotope-layout .grid-mb-10 {
  width: 10%;
}
@media screen and (max-width: 767px) {
  .acm-gallery .isotope-layout .mb-responsive .item-2 {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .acm-gallery .isotope-layout .grid-tb-1 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-tb-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-tb-3 {
    width: 33.3%;
  }
  .acm-gallery .isotope-layout .grid-tb-4 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-tb-5 {
    width: 20%;
  }
  .acm-gallery .isotope-layout .grid-tb-6 {
    width: 16.6%;
  }
  .acm-gallery .isotope-layout .grid-tb-7 {
    width: 14.28%;
  }
  .acm-gallery .isotope-layout .grid-tb-8 {
    width: 12.5%;
  }
  .acm-gallery .isotope-layout .grid-tb-9 {
    width: 11.1%;
  }
  .acm-gallery .isotope-layout .grid-tb-10 {
    width: 10%;
  }
  .acm-gallery .isotope-layout .tb-responsive .item-2 {
    width: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .grid-dt-1 {
    width: 100%;
  }
  .acm-gallery .isotope-layout .grid-dt-2 {
    width: 50%;
  }
  .acm-gallery .isotope-layout .grid-dt-3 {
    width: 33.3%;
  }
  .acm-gallery .isotope-layout .grid-dt-4 {
    width: 25%;
  }
  .acm-gallery .isotope-layout .grid-dt-5 {
    width: 20%;
  }
  .acm-gallery .isotope-layout .grid-dt-6 {
    width: 16.6%;
  }
  .acm-gallery .isotope-layout .grid-dt-7 {
    width: 14.28%;
  }
  .acm-gallery .isotope-layout .grid-dt-8 {
    width: 12.5%;
  }
  .acm-gallery .isotope-layout .grid-dt-9 {
    width: 11.1%;
  }
  .acm-gallery .isotope-layout .grid-dt-10 {
    width: 10%;
  }
  .acm-gallery .isotope-layout .dt-responsive .item-2 {
    width: 100% !important;
  }
}
.acm-gallery .isotope-layout .i-responsive .item-2 {
  width: 100%;
}
.acm-gallery .isotope-layout .caption {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-animation: eff-2 2s;
  -o-animation: eff-2 2s;
  animation: eff-2 2s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-gallery .isotope-layout .caption {
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .caption {
    font-size: 60px;
  }
}
.acm-gallery .isotope-layout .caption span {
  font-size: 32px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-gallery .isotope-layout .caption span {
    font-size: 100px;
  }
}
@media screen and (min-width: 992px) {
  .acm-gallery .isotope-layout .caption span {
    font-size: 140px;
  }
}
.acm-gallery .isotope-layout .caption p {
  margin-bottom: 0;
}
.acm-gallery .isotope-layout .item {
  background: transparent;
  float: left;
}
.acm-gallery .isotope-layout .item a {
  display: block;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .acm-gallery .isotope-layout .item.item-2 {
    margin-left: -1px;
  }
}
.acm-gallery .isotope-layout .item.effect:nth-child(n) {
  -webkit-animation: effect-item-2 3s;
  -o-animation: effect-item-2 3s;
  animation: effect-item-2 3s;
}
.acm-gallery .isotope-layout .item.effect:nth-child(2n) {
  -webkit-animation: effect-item-2 9s;
  -o-animation: effect-item-2 9s;
  animation: effect-item-2 9s;
}
.acm-gallery .isotope-layout .item.effect:nth-child(3n) {
  -webkit-animation: effect-item-1 9s;
  -o-animation: effect-item-1 9s;
  animation: effect-item-1 9s;
}
.acm-gallery .isotope-layout .item.effect:nth-child(4n) {
  -webkit-animation: effect-item-1 9s;
  -o-animation: effect-item-1 9s;
  animation: effect-item-1 9s;
}
.acm-gallery .isotope-layout .item.effect:nth-child(5n) {
  -webkit-animation: effect-item-2 5s;
  -o-animation: effect-item-2 5s;
  animation: effect-item-2 5s;
}
.acm-gallery .isotope-layout .item .item-image {
  overflow: hidden;
}
.acm-gallery .isotope-layout .item img {
  margin: 0;
  width: 100%;
}

/*** Style 2 ***/
.acm-gallery.style-2 .action-button{
  text-align: center;
}

.acm-gallery.style-2 .action-button{
  margin-top: 35px;
}
.acm-gallery.style-2 .action-button a{
  text-decoration: none;
  display: inline-block;
}
.acm-gallery.style-2 .action-button a:after{
  content: "\f105";
  margin-left: 10px;
  font-family: FontAwesome;
}
.acm-gallery.style-2 .item-details h4 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin: 26px auto 0;
}
.acm-gallery.style-2 .item-details h4 a {
  color: #333333;
}
.acm-gallery.style-2 .item-details h4 a:hover,
.acm-gallery.style-2 .item-details h4 a:focus,
.acm-gallery.style-2 .item-details h4 a:active {
  color: #026899;
  text-decoration: none;
}
.acm-gallery.style-2 .item-details span {
  display: block;
  color: #999999;
  font-weight: 300;
}
.acm-gallery.style-scale .item .item-mask {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.acm-gallery.style-scale .item img {
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.acm-gallery.style-scale .item-details {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  font-size: 0;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -o-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.acm-gallery.style-scale .item-details h4 {
  margin-top: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.acm-gallery.style-scale .item-details h4 a,
.acm-gallery.style-scale .item-details h4 a:hover,
.acm-gallery.style-scale .item-details h4 a:focus,
.acm-gallery.style-scale .item-details h4 a:active {
  color: #ffffff;
}
.acm-gallery.style-scale .item-details span {
  color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
@media (min-width: 992px) {
  .acm-gallery.style-scale .item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  .acm-gallery.style-scale .item:hover .item-details {
    font-size: 16px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .acm-gallery.style-scale .item:hover .item-details h4 {
    font-size: 32px;
  }
  .acm-gallery.style-scale .item:hover .item-mask {
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
}
.acm-gallery.style-lily .item .item-image {
  background-color: #0279b3;
}
.acm-gallery.style-lily .item img {
  opacity: 1;
  width: calc(100% +  50px);
  width: -moz-calc(100% +  50px);
  -webkit-transform: translate3d(-40px, 0px, 0px);
  transform: translate3d(-40px, 0px, 0px);
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
}
@media screen and (max-width: 767px) {
  .acm-gallery.style-lily .item img, 
  .acm-gallery.style-lily .item:hover img {
    transform: none;
    -webkit-transform: none;
    width: 100%;
    height: auto;
  }
}
.acm-gallery.style-lily .item .item-details {
  bottom: 0;
  height: 50%;
  text-align: left;
  top: auto;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 26px;
  backface-visibility: hidden;
}
.acm-gallery.style-lily .item .item-details h4 {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  -webkit-transform: translate3d(0px, 40px, 0px);
  transform: translate3d(0px, 40px, 0px);
  -webkit-transition: transform 0.35s ease 0s;
  -o-transition: transform 0.35s ease 0s;
  transition: transform 0.35s ease 0s;
}
.acm-gallery.style-lily .item .item-details h4 a,
.acm-gallery.style-lily .item .item-details h4 a:hover,
.acm-gallery.style-lily .item .item-details h4 a:focus,
.acm-gallery.style-lily .item .item-details h4 a:active {
  color: #ffffff;
}
.acm-gallery.style-lily .item .item-details span {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate3d(0px, 40px, 0px);
  transform: translate3d(0px, 40px, 0px);
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  -webkik-transition: opacity 0.2s ease 0s, -webkit-transform 0.35s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media (max-width: 1199px) {
  .acm-gallery.style-lily .item .item-details {
    height: auto;
  }
  .acm-gallery.style-lily .item .item-details h4 {
    font-size: 16px;
    -webkit-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
  }
}
@media (min-width: 992px) {
  .acm-gallery.style-lily .item:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .acm-gallery.style-lily .item:hover .item-details h4,
  .acm-gallery.style-lily .item:hover .item-details span {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .acm-gallery.style-lily .item:hover .item-details span {
    transition-delay: 0.05s;
    transition-duration: 0.35s;
    -webkit-transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
  }
}
.acm-gallery.style-sadie .item {
  overflow: hidden;
}
.acm-gallery.style-sadie .item .item-image {
  background-color: #01354e;
}
.acm-gallery.style-sadie .item img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.acm-gallery.style-sadie .item .item-details {
  text-align: center;
}
.acm-gallery.style-sadie .item .item-details h4 {
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  margin-top: 0;
  left: 0;
  right: 0;
  top: 50%;
  color: #ffffff;
  z-index: 2;
  transition: transform 0.35s ease 0s, color 0.35s ease 0s;
  -webkit-transition: -webkit-transform 0.35s ease 0s, color 0.35s ease 0s;
  -webkit-transform: translate3d(0px, -50%, 0px);
  transform: translate3d(0px, -50%, 0px);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.acm-gallery.style-sadie .item .item-details h4 a,
.acm-gallery.style-sadie .item .item-details h4 a:hover,
.acm-gallery.style-sadie .item .item-details h4 a:focus,
.acm-gallery.style-sadie .item .item-details h4 a:active {
  color: #ffffff;
}
@media (max-width: 1199px) {
  .acm-gallery.style-sadie .item .item-details h4 {
    font-size: 16px;
  }
}
.acm-gallery.style-sadie .item .item-details span {
  bottom: 0;
  left: 0;
  opacity: 0;
  color: #ffffff;
  padding: 26px;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(0px, 10px, 0px);
  transform: translate3d(0px, 10px, 0px);
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
}
@media (max-width: 1199px) {
  .acm-gallery.style-sadie .item .item-details span {
    display: none;
  }
}
.acm-gallery.style-sadie .item .item-mask {
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0px, 50%, 0px);
  transform: translate3d(0px, 50%, 0px);
}
@media (min-width: 992px) {
  .acm-gallery.style-sadie .item:hover .item-mask,
  .acm-gallery.style-sadie .item:hover .item-details span {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .acm-gallery.style-sadie .item:hover .item-details h4 {
    color: #ffffff;
    transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
    -webkit-transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
  }
  .acm-gallery.style-sadie .item:hover .item-details h4 a,
  .acm-gallery.style-sadie .item:hover .item-details h4 a:hover,
  .acm-gallery.style-sadie .item:hover .item-details h4 a:focus,
  .acm-gallery.style-sadie .item:hover .item-details h4 a:active {
    color: #ffffff;
  }
}
.acm-gallery.style-zoe .item {
  overflow: hidden;
}
.acm-gallery.style-zoe .item .item-image {
  background-color: #01354e;
}
.acm-gallery.style-zoe .item img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.acm-gallery.style-zoe .item .item-details {
  background: #ffffff;
  bottom: 0;
  color: #333333;
  padding: 26px;
  top: auto;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: translate3d(0px, 100%, 0px);
  transform: translate3d(0px, 100%, 0px);
  -webkit-transition: transform 0.35s ease 0s;
  -o-transition: transform 0.35s ease 0s;
  transition: transform 0.35s ease 0s;
}
.acm-gallery.style-zoe .item .item-details h4,
.acm-gallery.style-zoe .item .item-details span {
  -webkit-transform: translate3d(0px, 200%, 0px);
  transform: translate3d(0px, 200%, 0px);
  -webkit-transition: transform 0.35s ease 0s;
  -o-transition: transform 0.35s ease 0s;
  transition: transform 0.35s ease 0s;
}
.acm-gallery.style-zoe .item .item-details h4 {
  margin-top: 0;
}
.acm-gallery.style-zoe .item .item-details span {
  backface-visibility: hidden;
  top: -130px;
  color: #ffffff;
  padding: 26px;
  position: absolute;
  text-transform: none;
  left: 10%;
  right: 10%;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s ease 0s;
  -o-transition: opacity 0.35s ease 0s;
  transition: opacity 0.35s ease 0s;
}
@media (min-width: 992px) {
  .acm-gallery.style-zoe .item:hover .item-details,
  .acm-gallery.style-zoe .item:hover .item-details h4,
  .acm-gallery.style-zoe .item:hover .item-details span {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .acm-gallery.style-zoe .item:hover .item-details span {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.acm-gallery.style-flip .item {
  position: relative;
}
.acm-gallery.style-flip .item .item-image {
  transform: perspective(800px) rotateY(0deg);
  -webkit-transform: perspective(800px) rotateY(0deg);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.acm-gallery.style-flip .item .item-details {
  background: #000000;
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 26px;
  left: 0;
  top: 0;
  text-align: center;
  transform: perspective(800px) rotateY(180deg);
  -webkit-transform: perspective(800px) rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.acm-gallery.style-flip .item .item-details h4 {
  display: block;
  margin-bottom: 26px;
}
.acm-gallery.style-flip .item .item-details h4 a,
.acm-gallery.style-flip .item .item-details h4 a:hover,
.acm-gallery.style-flip .item .item-details h4 a:focus,
.acm-gallery.style-flip .item .item-details h4 a:active {
  color: #ffffff;
  display: inline-block;
  padding-bottom: 13px;
  border-bottom: 2px solid #ffffff;
}
@media (min-width: 992px) {
  .acm-gallery.style-flip .item:hover .item-image {
    transform: perspective(800px) rotateY(-179.9deg);
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
  }
  .acm-gallery.style-flip .item:hover .item-details {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
  }
}
.ekko-lightbox .modal-loading {
  display: none;
}
.ekko-lightbox.fade {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.ekko-lightbox.fade.in {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.ekko-lightbox .modal-dialog {
  margin-top: 15%;
}
@media screen and (min-width: 480px) {
  .ekko-lightbox .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
}
.ekko-lightbox .modal-header {
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.ekko-lightbox .modal-header .close {
  background: #ffffff;
  color: #000000;
  height: 35px;
  margin: 0;
  width: 35px;
}
.ekko-lightbox .modal-body {
  padding: 0;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 100%;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay a {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px !important;
}
.ekko-lightbox .modal-body .ekko-lightbox-nav-overlay a.glyphicon-chevron-right {
  float: right;
}
.ekko-lightbox .img-responsive {
  margin: 0;
}
@keyframes effect-item-1 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  20% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes effect-item-1 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  20% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes effect-item-2 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes effect-item-2 {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes eff-2 {
  0% {
    top: 40%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes eff-2 {
  0% {
    top: 40%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.ie8 .isotope-layout .caption {
  top: 12%;
}
.ie8 .isotope-layout .item,
.ie8 .isotope-layout .grid-sizer {
  margin-left: -0.5px;
}
.ie8 .ekko-lightbox .modal-dialog {
  position: relative;
  top: 5%;
  left: 0;
  width: 600px !important;
  overflow: hidden;
}
.ie8 .ekko-lightbox .img-responsive {
  max-width: 100%;
}
.full-screen {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 991px) {
  .full-screen {
    height: auto !important;
  }
}